* {
    color: darkblue;
    font-family: "Arial Black", monospace;
}

html {
    width:100%;
    height:100%;
    display:table;
    text-align:center;
    overflow-x: hidden;
}

body {
    background-color: black;
    /* animation: translate 10s linear infinite; */
    background: url("../images/racetrack.jpg") no-repeat, #111111;
    background-attachment: fixed;
    /* margin: auto 15%; */
    overflow-x: hidden;
    background-size: cover;
    margin: auto 0;
}

/* @keyframes translate {
    0%{
        transform: translate3d(0, 0, 0);
      }
      100%{
        transform: translate3d(0, 1692px, 0);
      }
 } */

.experiences {
    margin: 10%;
}

.experiences h1 {
    font-family: "Arial Black";
    font-size: 70px;
    background-clip: text;
    background-image: linear-gradient(45deg, rgb(136, 28, 28), rgb(79, 119, 192));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.USAFexperiences {
    background-color: #00308f;
    padding: 90px;
    margin: 20px;
    background-image: url('../images/wavingFlag.png');
    background-size: cover;
}

.USAFexperiences h2{
    display: inline-block;
    padding-left: 10%;
    text-align: center;
    color: white;
    font-size: 50px;
}
.USAFexperiences p{
    display: inline-block;
    color: white;
}

.Softwareexperiences {
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding: 90px 0px 10px 0px;
    margin: 20px;
}

/*Creds to Alison Quaglia*/ 
@keyframes gradient {
	0%      {background-position: 0% 50%;}
	50%     {background-position: 100% 50%;}
	100%    {background-position: 0% 50%;}
}

.Softwareexperiences h2 {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 10px 0px;
}
.Softwareexperiences p{
    color: white;
}

#canvas {
    width: 95%;
    height: 70px;
    background-color: black;
    text-align: center;
}

.Hardwareexperiences {
    background-color: goldenrod;
    padding: 90px;
    margin: 20px;
}

.Hardwareexperiences h2 {
    display: inline-block;
    padding-left: 10%;
    text-align: center;
    color: white;
}

.Hardwareexperiences p{
    display: inline;
    color: white;
}

.HardPhoto {
    display: inline;
    height: 200px;
    width: 200px;
    vertical-align:middle;
}

/* .SoftPhoto {
    display: inline;
    height: 70px;
    vertical-align:middle;
} */

.UsafPhoto {
    display: inline;
    height: 200px;
    width: 200px;
    vertical-align:middle;
    border-radius: 50%;
}

#name {
    padding-top: 1px;
    background-color: white;
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 300px;
}

#name h1 {
    font-size: 130px;
    margin-top: 0px;
    font-family: "Arial Black";
    background-clip: text;
    background-image: linear-gradient(45deg, #661f62, #ff3714);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#profilePic {
    border:3px solid white;
    display: block;
    border-radius: 5%;
    margin: -200px auto;
}

.about {
    color: white;
    border:3px solid white;
    background-image: linear-gradient(45deg, #e6aaaa, #ee542d);
    margin-top: 50px;
    margin: 50px 10%;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 10%/14%;
}

.about h2 {
    margin: 50px 100px 10px 100px;
    font-family: "Arial Black";
    color: white;
    font-size: 50px;
}

.about p {
    margin: 0 10%;
    font-family: "Helvetica";
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
}

.sections {
    display: inline;
    padding: 0;
}

.sections li {
    display: inline;
    padding: 140px;
}

.sectionImages {
    display: inline-block;
    padding: 0;
}

.sectionImages li {
    display: inline-block;
    padding: 15px 15px 10px 15px;
    margin: 10px;
    background-color: white;
    border-radius: 20%;
}

footer {
    text-align: center;
    background-color: white;
}





/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 400% 400%;
animation: gradient 15s ease infinite; */